[project]
	description = Billy boar
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/billyboar
[access "refs/for/refs/*"]
	read = group user/billyboar
	push = group user/billyboar
	label-Code-Review = -2..+2 group user/billyboar
	label-Verified = -1..+1 group user/billyboar
	rebase = group user/billyboar
	removeReviewer = group user/billyboar
	submit = group user/billyboar
[access "refs/heads/*"]
	read = group user/billyboar
	create = group user/billyboar
	push = +force group user/billyboar
	pushMerge = group user/billyboar
[access "refs/tags/*"]
	push = +force group user/billyboar
	pushTag = group user/billyboar
	pushSignedTag = group user/billyboar
